.whitebg {
    background-color: white;
    width: 100%;
    height: 800px;
    margin-top: 140px;
    padding-bottom: 8%;
    left: 0px;
    right: 0px;
    position: fixed;
    min-height: 510px;
}

.membre1 {
    width: 340px;
    height: 490px;
    padding-top: 4%;
    display: flex;
    margin-left: 25%;
    position: relative;
}

.descriptionmembre {
    top: 15%;
    right: 25%;
    height: 0px;
    position: fixed;
}

.numero {
    color: rgba(178, 29, 10, 1);
}

@media screen and (max-width: 1500px){
.membre1 {
    margin-left: 15%;
}

}

@media screen and (max-width: 1250px){
    .membre1 {
        margin-left: 20%;
    }

    .descriptionmembre {
    top: 15%;
    right: 5%;
    height: 0px;
    position: fixed;
    }
    
    }




@media screen and (max-width: 1000px){

    .membre1 {
        width: 340px;
        height: 490px;
        padding-top: 4%;
        margin-left: 5%;
        margin-right: auto;
        display: flex;
    }

    .descriptionmembre {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 840px){
    .membre1 {
        margin-left: auto;
        margin-right: auto;
    }

    .descriptionmembre {
        top: 60%;
        right: 0%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        }

    .whitebg {
        height: 1200px;

    }
    
    }
