.np {
    margin-top: 4%;
    text-decoration: none;
    width: 900px;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}
.np input{
    background-color: rgb(195, 200, 199); 
    width: 200px;
    height: 30px;
    border: none;
    border-style:inset

}

.tm {
    margin-top: 4%;

    width: 900px;
    
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.tm input{
    background-color: rgb(195, 200, 199); 
    width: 200px;
    height: 30px;
    border: none;
    border-style:inset

}

textarea{
    margin-top: .5%;
    margin-left: 10%;
    height: 150px;
    width: 900px;;
}

textarea{
    border-top-width: thin;
border-bottom-width:thick;
border-left-width: 1px;
border-right-width: 10px;
}

button{
    margin-top: 1%;
    margin-left: 10%;
    width: 100px;
    height: 30px;
    border-radius: 6px;

}

.titre{
    margin-top: 2%;
    margin-left: 10%;
    text-align: left;
}
.titre span{

    color: rgb(96, 96, 98);
}