.np {
    margin-top: 2%;
    text-decoration: none;
    width: 900px;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}
.np input{
    background-color:rgb(206, 210, 245);
    width: 300px;
    height: 30px;
    border: none;
    border-style:inset

}

.tm {
    margin-top: 2%;
    width: 900px;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.tm input{
    background-color:rgb(206, 210, 245);
    width: 300px;
    height: 30px;
    border: none;
    border-style:inset

}

textarea{
    margin-top: .5%;
    margin-left: 10%;
    height: 150px;
    width: 900px;
    background-color:rgb(206, 210, 245);
}

textarea{
    border-top-width: thin;
border-bottom-width:thick;
border-left-width: 1px;
border-right-width: 10px;
}
button{
    margin-top: 1%;
    margin-left: 10%;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    
}
button:hover{
    background-color: rgb(103, 103, 122);
    margin-top: 1%;
    margin-left: 10%;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    background: linear-gradient(to right, blue, pink);

}
.titre{
    
    font-size: large;
    font-family:fantasy;
    margin-top: 2%;
    margin-left: 10%;
    text-align: left;
}
.titre span{
    font-weight: 50px;
    font-family: cursive;
}