.button_primary {
    background:black;
    color:#eee;
    padding: 10px 25px;
    border: 1px solid transparent;
    transition: all 0.3s;
    width: 120px;
    height: 20px;
    border-radius: 8px;

}

.button_primary:hover {
    background:#eee;
    color:black;
    border: 1px solid var(--blue);
    width: 120px;
    height: 20px;
    border-radius: 8px;

}
