html {
top: 0px;
height: 100%;
}

nav {
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    z-index: 39;
    height: 77px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: white;
}

.list {
    height: 77px;
    margin-left: 22%;
    margin-top: -100px;
    margin-bottom: 0px;
    list-style-type: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.items {
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(16, 22, 47, 1);
    cursor: pointer;
    margin: auto;

}
.items:hover {
    color: burlywood;
    animation:slidebg 2s linear infinite;
    border-radius: 7px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    margin: auto;
}

.btn {
    display: none;
    position :absolute; 
    left: 12px;
    top :4px;
    z-index :50;
    padding:0px 8px; 
    color:rgba(16, 22, 47, 1);
    background: white;
    border-radius:5px;
    cursor:pointer;
}
.btn:hover {
    display: none;
    position :fixed; 
    left: 12px;
    top :4px;
    z-index :50;
    padding:0px 8px; 
    color:rgba(16, 22, 47, 1);
    background: green;
    border-radius:5px;
    cursor:pointer;
}

#menuToggle input
{
    opacity: 0;
}

#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: rgba(16, 22, 47, 1);
    border-radius: 3px;
}

#volley {
    text-align: center;
    border: solid;
    margin-top: 10px;
    margin-left: 50px;
    width:170px;
    height: 49px;
    z-index: 40;
    background: #ffffff;
    border-radius:100px / 100px;
}






@media screen and (max-width: 1025px){

    .list {
        border-bottom: 1px solid rgba(218, 218, 218, 1);
        border-right: 1px solid rgba(218, 218, 218, 1);

        width: 300px;
        flex-direction: column;
        height: auto;
        margin-top: -70px;
        margin: auto;
        margin: -17px;
    }
    .items {
        
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        padding: 20px 0;
    }
    .btn {
        display: block;
    }

    #volley {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: solid;
        width:170px;
        background: #ffffff;
        border-radius:100px / 100px;
    }


}
