.contactez-nous
{
    display: flex;
    flex-direction: column;
    width: 510px;
    height: 510px;
    align-items: center;
    margin: 40px;
}
.partien
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.partiea
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input
{
    display: flex;
    margin: 20px;
    width: 240px;
    height: 35px;
    margin: 15px;
    border: solid black 1px;
    padding-left: 20px;
}
.formule
{
    display: flex;
}
.contactez-nous p 
{
width: 100%;
}
#message
{
    width: 535px;
    height: 140px;
    border: solid black 1px;
    margin: 15px;
    padding-left: 20px;
}
.contactez-nous h1{
    margin: 5px;
}
.boutoncontact
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
    border: solid black 1px;
    margin-left: 15px;
}
.vendame
{
    align-items: center;
    display: flex;
    flex-direction: row;
}
#subscribeNews
{
    display: flex;
    width: 20px;
    height: 30px;
}