.joueurs .joueurs-bloc {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: auto;
  flex-direction: row;
  align-items: center;
}

.intro_home {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

:is(.intro_home) h2,
h3 {
  margin-bottom: 0px;
}

.intro_home p {
  margin-top: 10px;
  margin-bottom: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0rem;
  margin: 0 auto;
}

.red_larrow {
  display: none;
  margin-left: 10px;
}

@media screen and (max-width: 1200px) {
  .joueurs .joueurs-bloc {
    justify-content: space-between;
  }
}


@media screen and (max-width: 1026px) {

  .joueurs .joueurs-bloc {
    justify-content: space-between;
    flex-direction: column;
  }

  .intro_home {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
  }
  .intro_home button {
    display: none;
  }

  .red_arrow {
    display: none;
  }

}