.button_secondary {
    background:rgb(5, 5, 5);
    color:#eee;
    padding: 10px 25px;
    border: 1px solid var(--blue);
    cursor: pointer;
    transition: all 0.3s;
}

.button_secondary:hover {
    background: var(--blue);
    color: #FFF;
    border: 1px solid transparent;
}
